@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Poppins:wght@100&family=Sofia&family=Young+Serif&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Young Serif", serif;

}
body{
    background-color: #222;
}

.list-div{
    display: flex;
}
.dragging{
    cursor: grab;
    /* background-color: black; */
}
.card{
    width: 100%;
    max-width: 540px;
    background-color: rgb(231, 238, 240);
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 35px 25px;

}
.card h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.card h2 img{
    width: 33px;
    margin-left: 10px;
}
.intext{
    /* width: 100%; */
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    background: #acadb0;
    color: #fff;
}
.intext input{
    flex: 1;
    border-radius: 30px; 
    background: transparent;
    border: 0;
    outline: 0;
    padding: 10px;
    /* margin-right: 16px; */
    font-size: 18px;
    color: #555;
}
.intext button{
    border-radius: 40px;
    /* height: 30px; */
    padding: 16px 35px;
    font-size: 16px;
    border: 0;
    color: antiquewhite;
    outline: 0;
    cursor: pointer;
    background: #f90404;
}
.list-container ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 6px 50px ;
    border: #222;
    cursor: pointer;
    position: relative;
    width: 92%;

}
.list-container ul li.dragging {
    opacity: 0.5;
    background-color: black;
    color: whitesmoke;
  }
.list-container ul li::before{
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/checked.png); 
}
.span1{
    position: absolute;
    right: 0;
    top: 5px;
    width: 32px;
    height: 32px;
    font-size: 22px;
    color: #555;
    text-align: center;
    border-radius: 50%;
}
.span2{

    display: flex;
    align-content: center;
    flex-wrap: wrap;
    pointer-events: none;
}
.span2:hover{
    cursor:grab
}
.span1:hover{
    background: #a6a7a7;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    border-radius: 15px;
    align-items: center;
  }
  
  .modal-content {
    background-color:rgb(231, 238, 240);
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 300px; /* Could be more or less, depending on screen size */
    height: 150px;
    border-radius: 15px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .modal-content p {
    text-align: center; /* Center the text within the modal content */
  }
  
  .closeBtn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    top: 5px;
    width: 32px;
    height: 32px;
    position: absolute;
  top: 10px;
  right: 10px;
  }
  
  .closeBtn:hover,
  .closeBtn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
/* --------------------------------------------------------------- media-tags ------------------------------------------------------------------ */
@media (max-width:450px) {
    .intext{
        justify-content: center;
    }
    .intext input{
        width: 3vmin;
    }
    .intext button{
        padding: 16px 20px;
    }

    
}
@media (max-width:320px) {
    .col{
        display: block;
    }
    
}